source*/
final_packages/nvidia-kernel-*_JB.txz
final_packages/nvidia-driver-*_JB.txz
final_packages_legacy580/nvidia-legacy580-kernel-*_JB.txz
final_packages_legacy580/nvidia-legacy580-driver-*_JB.txz
final_packages_legacy580/pahole-*_JB.txz
